@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss";

/*
ONLY variables, no code here! 
*/

/*Bootstrap variables*/
$font-family-sans-serif: Arial, "Helvetica Neue", Helvetica, sans-serif;
$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";



/*Custom variables*/
$panel-width: 214px;
$panel-shadow-size: 10px;